/* src/components/Dashboards/ResponsableUniteProductionDashboard/ResponsableUniteProductionDashboard.module.css */

:root {
  --primary-blue: #3498db;
  --dark-blue: #2980b9;
  --light-blue: #e8f5ff;
  --text-color: #333;
  --secondary-text-color: #7f8c8d;
  --background-color: #ecf0f1;
  --white: #fff;
  --border-color: #dfe6e9;
  --green: #2ecc71;
  --dark-green: #27ae60;
  --red: #e74c3c;
  --dark-red: #c0392b;
}

.dashboardContainer {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

.sidebar {
  width: 260px;
  background-color: var(--white);
  color: var(--text-color);
  padding: 25px 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebarTitle {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary-blue);
  font-size: 1.8em;
  font-weight: 700;
}

.mainNav {
  flex-grow: 1;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin-bottom: 12px;
}

.navLink {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.1em;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navLink:hover, .navLink:focus {
  background-color: var(--light-blue);
  color: var(--primary-blue);
}

.navIcon {
  font-size: 1.2em;
}

.activeNavLink {
  background-color: var(--primary-blue);
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.mainContentArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dashboardHeader {
    background-color: var(--white);
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between; /* Alignement du titre et des actions */
    align-items: center;
}

.pageTitle {
    color: var(--primary-blue);
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre les boutons */
}

.profileLink, .logoutButton {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profileLink {
    color: var(--secondary-text-color);
}

.profileLink:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.profileIcon {
    font-size: 1.2em;
    color: var(--primary-blue);
}

.logoutButton {
    color: var(--red);
}

.logoutButton:hover {
    background-color: #fcebeb;
    color: var(--dark-red);
}

.mainContent {
  padding: 30px;
  overflow-y: auto;
}